<div class="profile">
    <div>Name: <%= info.name %></div>
    <div>Mail: <%= info.mail %></div>
</div>
<div class="heading">Total Hours Completed: <%= info.hrs %> Hours</div>
<div class="table-wrapper">
    <h3>Events Attended</h3>
    <table class="table">
        <tbody>
        <tr>
            <th>Event Date</th>
            <th>Event Name</th>
            <th>Hours Awarded</th>
            <th>Category</th>
            <th>Save</th>
        </tr>
        <% for(var i=0; i<list.length; i++){ %>
            <tr>
                <td><%= list[i].date %></td>
                <td>
                    <form id="form<%= i %>" action="/admin/update_hrs" method="POST">
                        <input type="hidden" name="event_id" value="<%= list[i].id %>"/>
                        <input type="hidden" name="email" value="<%= list[i].email %>" />
                    </form>
                    <%= list[i].name %>
                </td>
                <td><input form="form<%= i %>" type="number" name="hours" min="0" value="<%= list[i].hrs %>"/></td>
                <td><%= list[i].category %></td>
                <td><input form="form<%= i %>" type="submit" value="Save" class="btn btn-dark"/></td>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>

<% if(events.length !== 0) { %>
<div class="center_div"><button class="btn btn-dark" id="user_event">Add Event</button></div>
<div id="user_event_form">
    <form class="event_form" action="/admin/add_user_event" method="POST">
        <input type="hidden" name="email" value="<%= info.mail%>" />
        <div class="form-group">
            <label>Event: </label>
            <select class="custom-select" id="inputGroupSelect01" name="eventId">
                <% for(var i=0; i<events.length; i++) { %>
                    <option value="<%= events[i].id %>"><%= events[i].name %>, <%= events[i].date %></option>
                <% } %>
            </select>
        </div>
        <div class="form-group">
            <label>Enter Hours: </label>
            <input type="number" name="hrs" class="form-control" min="0"/>
        </div>
        <input type="submit" value="Save" class="btn btn-dark"/>
    </form>
</div>
<% } %>

<style>
    input{
        border: 0;
    }
    .center_div{
        text-align: center;
        margin: 1rem auto;
        width: 50%;
    }

</style>

<script>
    document.getElementById("user_event_form").style.display = "none";
</script>