<%- include('header') -%>
  <div class="table-wrapper">
    <h3>All Events</h3>
    <table class="table home">
      <tbody>
        <tr>
          <th>Event Date</th>
          <th>Event Name</th>
          <th>Category</th>
          <th>Delete</th>
        </tr>
        <% for(var i=0; i<events.length; i++){ %>
          <tr>
            <td><%= events[i].date %></td>
            <td><%= events[i].name %></td>
            <td><%= events[i].fk_category %></td>
          <td>
            <form id="form<%= i %>" action="/admin/delete_event" method="POST">
              <input type="hidden" name="event_id" value="<%= events[i].id %>"/>
            </form>
            <input form="form<%= i %>" type="submit" value="Delete" class="btn btn-danger"/>
          </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  
  <script>
    var element = document.getElementById("home");
    element.classList.add("active");
  </script>
<%- include('footer') -%>